<div>

    <% if @photostream %>
        <% @photostream.each do |photo| %>
            
            <% imgSrc = "https://live.staticflickr.com/" + photo.server + "/" + photo.id + "_" + photo.secret + ".jpg" %>
            <%= image_tag(imgSrc) %>
        <% end %>
    <% else %>

        <%= form_with method: :get do |form| %>
            <%= form.label :flickr_user_id %>
            <%= form.text_field :flickr_user_id %>
            <%= form.submit %>
        <% end %>

    <% end %>
</div>